[submodule "Gleam-Core/vendor/glm"]
	path = Gleam-Core/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Gleam-Core/vendor/entt"]
	path = Gleam-Core/vendor/entt
	url = https://github.com/skypjack/entt
[submodule "Gleam-Core/vendor/SDL"]
	path = Gleam-Core/vendor/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "Gleam-Core/vendor/tinygltf"]
	path = Gleam-Core/vendor/tinygltf
	url = https://github.com/syoyo/tinygltf
[submodule "Gleam-Core/vendor/spdlog"]
	path = Gleam-Core/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Gleam-Core/vendor/tinyobjloader"]
	path = Gleam-Core/vendor/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader
[submodule "Gleam-Core/vendor/stb"]
	path = Gleam-Core/vendor/stb
	url = https://github.com/nothings/stb
[submodule "Gleam-Core/vendor/OpenFBX"]
	path = Gleam-Core/vendor/OpenFBX
	url = https://github.com/nem0/OpenFBX
[submodule "Gleam-Core/vendor/imgui"]
	path = Gleam-Core/vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "Gleam-Core/vendor/ImGuizmo"]
	path = Gleam-Core/vendor/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
