[submodule "Engine/ThirdParty/entt"]
	path = Engine/ThirdParty/entt
	url = https://github.com/skypjack/entt
[submodule "Engine/ThirdParty/stb"]
	path = Engine/ThirdParty/stb
	url = https://github.com/nothings/stb
[submodule "Engine/ThirdParty/imgui"]
	path = Engine/ThirdParty/imgui
	url = https://github.com/ocornut/imgui
[submodule "Engine/ThirdParty/ImGuizmo"]
	path = Engine/ThirdParty/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
[submodule "Engine/ThirdParty/cgltf"]
	path = Engine/ThirdParty/cgltf
	url = https://github.com/jkuhlmann/cgltf
[submodule "Engine/ThirdParty/googletest"]
	path = Engine/ThirdParty/googletest
	url = https://github.com/google/googletest
[submodule "Engine/ThirdParty/fmt"]
	path = Engine/ThirdParty/fmt
	url = https://github.com/fmtlib/fmt
[submodule "Engine/ThirdParty/SDL"]
	path = Engine/ThirdParty/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "Engine/ThirdParty/rapidjson"]
	path = Engine/ThirdParty/rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "Engine/ThirdParty/refl-cpp"]
	path = Engine/ThirdParty/refl-cpp
	url = https://github.com/veselink1/refl-cpp
