[submodule "Engine/ThirdParty/glm"]
	path = Engine/ThirdParty/glm
	url = https://github.com/g-truc/glm
[submodule "Engine/ThirdParty/entt"]
	path = Engine/ThirdParty/entt
	url = https://github.com/skypjack/entt
[submodule "Engine/ThirdParty/SDL2"]
	path = Engine/ThirdParty/SDL2
url=https://github.com/batuhanbozyel/SDL
[submodule "Engine/ThirdParty/spdlog"]
	path = Engine/ThirdParty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Engine/ThirdParty/tinyobjloader"]
	path = Engine/ThirdParty/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader
[submodule "Engine/ThirdParty/stb"]
	path = Engine/ThirdParty/stb
	url = https://github.com/nothings/stb
[submodule "Engine/ThirdParty/OpenFBX"]
	path = Engine/ThirdParty/OpenFBX
	url = https://github.com/nem0/OpenFBX
[submodule "Engine/ThirdParty/imgui"]
	path = Engine/ThirdParty/imgui
	url = https://github.com/ocornut/imgui
[submodule "Engine/ThirdParty/ImGuizmo"]
	path = Engine/ThirdParty/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
[submodule "Engine/ThirdParty/cgltf"]
	path = Engine/ThirdParty/cgltf
	url = https://github.com/jkuhlmann/cgltf
[submodule "Engine/ThirdParty/googletest"]
	path = Engine/ThirdParty/googletest
	url = https://github.com/google/googletest
[submodule "Engine/ThirdParty/volk"]
	path = Engine/ThirdParty/volk
	url = https://github.com/zeux/volk
